@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header header"
        "main main main main aside aside"
        "main main main main aside aside"
        "main main main main aside aside"
        "cont1 cont1 cont2 cont2 cont2 cont2 "
        "footer footer footer footer footer footer"
    ;
}

#caixa1 {
    grid-area: header;
    background-color: pink;
}

#caixa2 {
    grid-area: main;
    background-color: paleturquoise;
}

#caixa3 {
    grid-area: aside;
    background-color: palegreen;
}

#caixa4 {
    grid-area: cont1;
    background-color: blueviolet;
}

#caixa5 {
    grid-area: cont2;
    background-color: plum;
}

#caixa6 {
    grid-area: footer;
    background-color: gray;
}