@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

img {
    width: 400px;
    padding: 10px;
}

h1 {
    color: hotpink;
    text-align: center;
    padding: 10px;
}

h2 {
    color: hotpink;
    padding: 10px;
}

p {
    color: black;
    padding: 10px;
    font-family: 'Luckiest Guy', cursive;

}

@media (max-width:300px ) {
img {
    display: none;
}
}

